		<td colspan="3" class="row">
			<div id="categories-CategoryName-<%%VALUE(CategoryID)%%>" class="categories-CategoryName col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(CategoryName)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">				<dl class="dl-horizontal">
					<dt class="categories-Description-caption field-caption-tv">Description</dt>
					<dd id="categories-Description-<%%VALUE(CategoryID)%%>" class="categories-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></dd>

					<dt class="child-products-CategoryID-caption field-caption-tv" title="Products under this category">Products under this category</dt>
					<dd class="child-products-CategoryID child-records-info" data-id="<%%VALUE(CategoryID)%%>" data-table="products" data-lookup-field="CategoryID">
						<a href="products_view.php?filterer_CategoryID=<%%VALUE(CategoryID)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
						<a href="products_view.php?filterer_CategoryID=<%%VALUE(CategoryID)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Products under this category)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
					</dd>
				</dl>
			</div>
			<div class="col-md-6"><div id="categories-Picture-<%%VALUE(CategoryID)%%>" class="categories-Picture"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(Picture)%%>" data-lightbox="categories-Picture"><img src="thumbnail.php?i=<%%VALUE(Picture)%%>&t=categories&f=Picture&v=tv" class="img-thumbnail"></a></div></div>
		</td>
