		<td colspan="3" class="row">
			<div id="categories-CategoryName-<%%VALUE(CategoryID)%%>" class="categories-CategoryName col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(CategoryName)%%><%%ENDSELECT%%></div>
			<div class="col-md-6">				<dl class="dl-horizontal">
					<dt class="categories-Description-caption field-caption-tv">Description</dt>
					<dd id="categories-Description-<%%VALUE(CategoryID)%%>" class="categories-Description"><%%SELECT%%><%%VALUE(Description)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
			<div class="col-md-6"><div id="categories-Picture-<%%VALUE(CategoryID)%%>" class="categories-Picture"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(Picture)%%>" data-lightbox="categories-Picture"><img src="thumbnail.php?i=<%%VALUE(Picture)%%>&t=categories&f=Picture&v=tv" class="img-thumbnail"></a></div></div>
		</td>
