		<td colspan="8" class="row">
			<div id="customers-CompanyName-<%%VALUE(CustomerID)%%>" class="customers-CompanyName col-sm-12 h5 text-bold"><%%VALUE(CompanyName)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="customers-CustomerID-caption field-caption-tv">Customer ID</dt>
					<dd id="customers-CustomerID-<%%VALUE(CustomerID)%%>" class="customers-CustomerID text-bold"><%%VALUE(CustomerID)%%></dd>

					<dt class="customers-ContactName-caption field-caption-tv">Contact Name</dt>
					<dd id="customers-ContactName-<%%VALUE(CustomerID)%%>" class="customers-ContactName text-bold"><%%VALUE(ContactName)%%></dd>

					<dt class="customers-Address-caption field-caption-tv">Address</dt>
					<dd id="customers-Address-<%%VALUE(CustomerID)%%>" class="customers-Address text-bold"><%%VALUE(Address)%%></dd>

					<dt class="customers-City-caption field-caption-tv">City</dt>
					<dd id="customers-City-<%%VALUE(CustomerID)%%>" class="customers-City text-bold"><%%VALUE(City)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="customers-Region-caption field-caption-tv">Region</dt>
					<dd id="customers-Region-<%%VALUE(CustomerID)%%>" class="customers-Region text-bold"><%%VALUE(Region)%%></dd>

					<dt class="customers-Country-caption field-caption-tv">Country</dt>
					<dd id="customers-Country-<%%VALUE(CustomerID)%%>" class="customers-Country text-bold"><%%VALUE(Country)%%></dd>

					<dt class="customers-TotalSales-caption field-caption-tv">Total Sales</dt>
					<dd id="customers-TotalSales-<%%VALUE(CustomerID)%%>" class="customers-TotalSales text-right text-bold"><%%VALUE(TotalSales)%%></dd>

				<dt class="child-orders-CustomerID-caption field-caption-tv" title="Customer's Orders">Customer's Orders</dt>
				<dd class="child-orders-CustomerID child-records-info" data-id="<%%VALUE(CustomerID)%%>" data-table="orders" data-lookup-field="CustomerID">
					<a href="orders_view.php?filterer_CustomerID=<%%VALUE(CustomerID)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
					<a href="orders_view.php?filterer_CustomerID=<%%VALUE(CustomerID)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Customer's Orders)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
				</dd>
				</dl>
			</div>
		</td>
