<!-- To change the layout of the detail view form, we recommend using JS code in hooks/employees-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="employees_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="employees_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="employees_view.php?filterer_ReportsTo=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>" id="employees_link"><img src="resources/table_icons/administrator.png"> Employees</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="employees_view.php?filterer_ReportsTo=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>" id="xs_employees_link"><img src="resources/table_icons/administrator.png"> Employees</a>
			<input type="hidden" id="employees_hclink" value="employees_view.php?filterer_ReportsTo=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="orders_view.php?filterer_EmployeeID=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>" id="orders_link"><img src="resources/table_icons/cash_register.png"> Orders</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="orders_view.php?filterer_EmployeeID=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>" id="xs_orders_link"><img src="resources/table_icons/cash_register.png"> Orders</a>
			<input type="hidden" id="orders_hclink" value="orders_view.php?filterer_EmployeeID=<%%URLVALUE(EmployeeID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-9 dv-form" id="employees_dv_form" data-tablename="employees">
			<fieldset class="form-horizontal">

				<!-- Field: Employee ID -->
				<div class="form-group employees-EmployeeID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="EmployeeID">Employee ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="EmployeeID"><%%VALUE(EmployeeID)%%></div>
					</div>
				</div>

				<!-- Field: Title Of Courtesy -->
				<div class="form-group employees-TitleOfCourtesy">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="TitleOfCourtesy">Title Of Courtesy</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="TitleOfCourtesy" id="TitleOfCourtesy" value="<%%VALUE(TitleOfCourtesy)%%>">
					</div>
				</div>

				<!-- Field: Photo -->
				<div class="form-group employees-Photo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Photo <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Photo-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="Photo-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 15000 KB.<br>Allowed file types: jpg, jpeg, gif, png, webp</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-lg-8 col-md-6" style="padding-left: 0;"><img src="<%%BASE_UPLOAD_PATH%%><%%VALUE(Photo)%%>" class="img-responsive img-thumbnail" id="Photo-image"></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-lg-4 col-md-6 well upload-toolbox">
									<%%REMOVEFILE(Photo)%%>
									<%%UPLOADFILE(Photo)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_Photo = '<%%VALUE(Photo)%%>'; if(e_Photo == '' || e_Photo == '&nbsp;' || e_Photo == 'blank.gif') { $j('#Photo-link').hide(); $j('#Photo-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

				<!-- Field: Last Name -->
				<div class="form-group employees-LastName">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="LastName">Last Name</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="LastName" id="LastName" value="<%%VALUE(LastName)%%>">
					</div>
				</div>

				<!-- Field: First Name -->
				<div class="form-group employees-FirstName">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="FirstName">First Name</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="FirstName" id="FirstName" value="<%%VALUE(FirstName)%%>">
					</div>
				</div>

				<!-- Field: Title -->
				<div class="form-group employees-Title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Title">Title</label>
					<div class="col-lg-9">
						<input maxlength="30" type="text" class="form-control" name="Title" id="Title" value="<%%VALUE(Title)%%>">
					</div>
				</div>

				<!-- Field: Birth Date -->
				<div class="form-group employees-BirthDate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="BirthDate-mm">Birth Date</label>
					<div class="col-lg-9">
						<%%COMBO(BirthDate)%%>
					</div>
				</div>

				<!-- Field: Hire Date -->
				<div class="form-group employees-HireDate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="HireDate-mm">Hire Date</label>
					<div class="col-lg-9">
						<%%COMBO(HireDate)%%>
					</div>
				</div>

				<!-- Field: Address -->
				<div class="form-group employees-Address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Address">Address</label>
					<div class="col-lg-9">
						<textarea maxlength="50" class="form-control" name="Address" id="Address" rows=" 2"><%%VALUE(Address)%%></textarea>
					</div>
				</div>

				<!-- Field: City -->
				<div class="form-group employees-City">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="City">City</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="City" id="City" value="<%%VALUE(City)%%>">
					</div>
				</div>

				<!-- Field: Region -->
				<div class="form-group employees-Region">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Region">Region</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="Region" id="Region" value="<%%VALUE(Region)%%>">
					</div>
				</div>

				<!-- Field: Postal Code -->
				<div class="form-group employees-PostalCode">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="PostalCode">Postal Code</label>
					<div class="col-lg-9">
						<input maxlength="10" type="text" class="form-control" name="PostalCode" id="PostalCode" value="<%%VALUE(PostalCode)%%>">
					</div>
				</div>

				<!-- Field: Country -->
				<div class="form-group employees-Country">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Country">Country</label>
					<div class="col-lg-9">
						<%%COMBO(Country)%%>
					</div>
				</div>

				<!-- Field: Home Phone -->
				<div class="form-group employees-HomePhone">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="HomePhone">Home Phone</label>
					<div class="col-lg-9">
						<input maxlength="24" type="text" class="form-control" name="HomePhone" id="HomePhone" value="<%%VALUE(HomePhone)%%>">
					</div>
				</div>

				<!-- Field: Extension -->
				<div class="form-group employees-Extension">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Extension">Extension</label>
					<div class="col-lg-9">
						<input maxlength="4" type="text" class="form-control" name="Extension" id="Extension" value="<%%VALUE(Extension)%%>">
					</div>
				</div>

				<!-- Field: Notes -->
				<div class="form-group employees-Notes">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Notes">Notes</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(Notes)%%>
					</div>
				</div>

				<!-- Field: ReportsTo -->
				<div class="form-group employees-ReportsTo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" data-parent_link="view_parent_hidden">ReportsTo</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(ReportsTo)%%></div>
					</div>
				</div>

				<!-- Field: Age -->
				<div class="form-group employees-Age">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Age</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="Age"><%%VALUE(Age)%%></div>
					</div>
				</div>

				<!-- Field: Total Sales -->
				<div class="form-group employees-TotalSales">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Total Sales</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="TotalSales"><%%VALUE(TotalSales)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-3 dv-action-buttons" id="employees_dv_action_buttons" data-tablename="employees">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="employees-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#Notes').length) new nicEditor({ fullPanel : true }).panelInstance('Notes');
				}
			});

			$j('#employees_dv_container-loading').addClass('hidden');
			$j('#employees_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('employees', 'TitleOfCourtesy');

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setInterval(append_embedded, 1000);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'employees',
						SelectedID: '<%%VALUE(EmployeeID)%%>',
						Operation: 'show-children'
					},
					'employees-children'
				);
			}

			const autoCloseTables = <%%AUTO_CLOSE_PARENT_TABLES%%>;

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');
					const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1${autoCloseParam}`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
				const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}${autoCloseParam}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			employeesUniqueFields.forEach(fieldName => enforce_uniqueness('employees', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=employees&id=<%%URLVALUE(EmployeeID)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=employees&id=<%%URLVALUE(EmployeeID)%%>');
					}
				);
			}
		});

		var employeesUniqueFields = [
		];
	</script>