		<td colspan="9" class="row">
			<div id="employees-LastName-<%%VALUE(EmployeeID)%%>" class="employees-LastName col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(LastName)%%><%%ENDSELECT%%></div>
			<div class="col-md-3"><div id="employees-Photo-<%%VALUE(EmployeeID)%%>" class="employees-Photo"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(Photo)%%>" data-lightbox="employees-Photo"><img src="thumbnail.php?i=<%%VALUE(Photo)%%>&t=employees&f=Photo&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="employees-FirstName-caption field-caption-tv">First Name</dt>
					<dd id="employees-FirstName-<%%VALUE(EmployeeID)%%>" class="employees-FirstName"><%%SELECT%%><%%VALUE(FirstName)%%><%%ENDSELECT%%></dd>

					<dt class="employees-Title-caption field-caption-tv">Title</dt>
					<dd id="employees-Title-<%%VALUE(EmployeeID)%%>" class="employees-Title"><%%SELECT%%><%%VALUE(Title)%%><%%ENDSELECT%%></dd>

					<dt class="employees-HireDate-caption field-caption-tv">Hire Date</dt>
					<dd id="employees-HireDate-<%%VALUE(EmployeeID)%%>" class="employees-HireDate"><%%SELECT%%><%%VALUE(HireDate)%%><%%ENDSELECT%%></dd>

					<dt class="employees-Country-caption field-caption-tv">Country</dt>
					<dd id="employees-Country-<%%VALUE(EmployeeID)%%>" class="employees-Country"><%%SELECT%%><%%VALUE(Country)%%><%%ENDSELECT%%></dd>

					<dt class="employees-ReportsTo-caption field-caption-tv">ReportsTo</dt>
					<dd id="employees-ReportsTo-<%%VALUE(EmployeeID)%%>" class="employees-ReportsTo"><%%SELECT%%><%%VALUE(ReportsTo)%%><%%ENDSELECT%%></dd>

					<dt class="employees-Age-caption field-caption-tv">Age</dt>
					<dd id="employees-Age-<%%VALUE(EmployeeID)%%>" class="employees-Age text-right"><%%SELECT%%><%%VALUE(Age)%%><%%ENDSELECT%%></dd>

					<dt class="employees-TotalSales-caption field-caption-tv">Total Sales</dt>
					<dd id="employees-TotalSales-<%%VALUE(EmployeeID)%%>" class="employees-TotalSales text-right"><%%SELECT%%><%%VALUE(TotalSales)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
