<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the employees_init() hook (in hooks/employees.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="employees-Photo-<%%VALUE(EmployeeID)%%>" class="employees-Photo rtl-left"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(Photo)%%>" data-lightbox="employees-Photo"><img src="thumbnail.php?i=<%%VALUE(Photo)%%>&t=employees&f=Photo&v=tv" class="img-thumbnail"></a></td>
		<td id="employees-LastName-<%%VALUE(EmployeeID)%%>" class="employees-LastName rtl-left"><%%SELECT%%><%%VALUE(LastName)%%><%%ENDSELECT%%></td>
		<td id="employees-FirstName-<%%VALUE(EmployeeID)%%>" class="employees-FirstName rtl-left"><%%SELECT%%><%%VALUE(FirstName)%%><%%ENDSELECT%%></td>
		<td id="employees-Title-<%%VALUE(EmployeeID)%%>" class="employees-Title rtl-left"><%%SELECT%%><%%VALUE(Title)%%><%%ENDSELECT%%></td>
		<td id="employees-HireDate-<%%VALUE(EmployeeID)%%>" class="employees-HireDate rtl-left"><%%SELECT%%><%%VALUE(HireDate)%%><%%ENDSELECT%%></td>
		<td id="employees-Country-<%%VALUE(EmployeeID)%%>" class="employees-Country rtl-left"><%%SELECT%%><%%VALUE(Country)%%><%%ENDSELECT%%></td>
		<td id="employees-ReportsTo-<%%VALUE(EmployeeID)%%>" class="employees-ReportsTo rtl-left"><%%SELECT%%><%%VALUE(ReportsTo)%%><%%ENDSELECT%%></td>
		<td id="employees-Age-<%%VALUE(EmployeeID)%%>" class="employees-Age text-right"><%%SELECT%%><%%VALUE(Age)%%><%%ENDSELECT%%></td>
		<td id="employees-TotalSales-<%%VALUE(EmployeeID)%%>" class="employees-TotalSales text-right"><%%SELECT%%><%%VALUE(TotalSales)%%><%%ENDSELECT%%></td>
		<td class="child-employees-ReportsTo child-records-info" data-id="<%%VALUE(EmployeeID)%%>" data-table="employees" data-lookup-field="ReportsTo">
			<a href="employees_view.php?filterer_ReportsTo=<%%VALUE(EmployeeID)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Subordinates)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="employees_view.php?filterer_ReportsTo=<%%VALUE(EmployeeID)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Subordinates)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
		<td class="child-orders-EmployeeID child-records-info" data-id="<%%VALUE(EmployeeID)%%>" data-table="orders" data-lookup-field="EmployeeID">
			<a href="orders_view.php?filterer_EmployeeID=<%%VALUE(EmployeeID)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Initiated orders)" class="modal-link children-count-link" style="visibility: hidden;"><span class="children-count">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="orders_view.php?filterer_EmployeeID=<%%VALUE(EmployeeID)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Initiated orders)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
