		<td colspan="9" class="row">
			<div id="orders-OrderID-<%%VALUE(OrderID)%%>" class="orders-OrderID col-sm-12 h5 text-bold"><%%VALUE(OrderID)%%></div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="orders-Status-caption field-caption-tv">Status</dt>
					<dd id="orders-Status-<%%VALUE(OrderID)%%>" class="orders-Status text-bold"><%%VALUE(Status)%%></dd>

					<dt class="orders-CustomerID-caption field-caption-tv">Customer</dt>
					<dd id="orders-CustomerID-<%%VALUE(OrderID)%%>" class="orders-CustomerID text-bold"><%%VALUE(CustomerID)%%></dd>

					<dt class="orders-EmployeeID-caption field-caption-tv">Employee</dt>
					<dd id="orders-EmployeeID-<%%VALUE(OrderID)%%>" class="orders-EmployeeID text-bold"><%%VALUE(EmployeeID)%%></dd>

					<dt class="orders-OrderDate-caption field-caption-tv">Order Date</dt>
					<dd id="orders-OrderDate-<%%VALUE(OrderID)%%>" class="orders-OrderDate text-bold"><%%VALUE(OrderDate)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="orders-ShippedDate-caption field-caption-tv">Shipped Date</dt>
					<dd id="orders-ShippedDate-<%%VALUE(OrderID)%%>" class="orders-ShippedDate text-bold"><%%VALUE(ShippedDate)%%></dd>

					<dt class="orders-ShipVia-caption field-caption-tv">Ship Via</dt>
					<dd id="orders-ShipVia-<%%VALUE(OrderID)%%>" class="orders-ShipVia text-bold"><%%VALUE(ShipVia)%%></dd>

					<dt class="orders-ShipCountry-caption field-caption-tv">Ship Country</dt>
					<dd id="orders-ShipCountry-<%%VALUE(OrderID)%%>" class="orders-ShipCountry text-bold"><%%VALUE(ShipCountry)%%></dd>

					<dt class="orders-Total-caption field-caption-tv">Total</dt>
					<dd id="orders-Total-<%%VALUE(OrderID)%%>" class="orders-Total text-right text-bold"><%%VALUE(Total)%%></dd>

				</dl>
			</div>
		</td>
