<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the order_details_init() hook (in hooks/order_details.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="order_details-OrderID-<%%VALUE(odID)%%>" class="order_details-OrderID text-right"><%%VALUE(OrderID)%%></td>
		<td id="order_details-ProductID-<%%VALUE(odID)%%>" class="order_details-ProductID"><%%VALUE(ProductID)%%></td>
		<td id="order_details-Category-<%%VALUE(odID)%%>" class="order_details-Category"><%%VALUE(Category)%%></td>
		<td id="order_details-UnitPrice-<%%VALUE(odID)%%>" class="order_details-UnitPrice text-right"><%%VALUE(UnitPrice)%%></td>
		<td id="order_details-Quantity-<%%VALUE(odID)%%>" class="order_details-Quantity text-center"><%%VALUE(Quantity)%%></td>
		<td id="order_details-Discount-<%%VALUE(odID)%%>" class="order_details-Discount text-right"><%%VALUE(Discount)%%></td>
		<td id="order_details-Subtotal-<%%VALUE(odID)%%>" class="order_details-Subtotal text-right"><%%VALUE(Subtotal)%%></td>
