<!-- To change the layout of the detail view form, we recommend using JS code in hooks/order_details-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="order_details_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="order_details_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-9 dv-form" id="order_details_dv_form" data-tablename="order_details">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group order_details-odID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="odID">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="odID"><%%VALUE(odID)%%></div>
					</div>
				</div>

				<!-- Field: Order ID -->
				<div class="form-group order_details-OrderID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="OrderID" data-parent_link="view_parent_modal">Order ID <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#OrderID-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="OrderID-description"><div class="alert alert-info bspacer-xs">This field is a lookup field that gets its data from the Orders table. Since the Orders table has a large number of orders, AppGini automatically displays this lookup field as an<br />auto-complete. Type part of the order number to see a list of matching orders to choose from.</div></span>
						<div class="lookup-flex"><%%COMBO(OrderID)%%><%%PLINK(OrderID)%%><%%ADDNEW(orders)%%></div>
					</div>
				</div>

				<!-- Field: Category -->
				<div class="form-group order_details-Category">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Category</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="Category"></div>
					</div>
				</div>

				<!-- Field: Product -->
				<div class="form-group order_details-ProductID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ProductID" data-parent_link="view_parent_modal">Product</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(ProductID)%%><%%PLINK(ProductID)%%><%%ADDNEW(products)%%></div>
					</div>
				</div>

				<!-- Field: Unit Price -->
				<div class="form-group order_details-UnitPrice">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="UnitPrice">Unit Price <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#UnitPrice-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="UnitPrice-description"><div class="alert alert-info bspacer-xs">This field will appear formatted as US currency in the table view.</div></span>
						<input maxlength="12" type="text" class="form-control" name="UnitPrice" id="UnitPrice" value="<%%VALUE(UnitPrice)%%>">
					</div>
				</div>

				<!-- Field: Quantity -->
				<div class="form-group order_details-Quantity">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Quantity">Quantity <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Quantity-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="Quantity-description"><div class="alert alert-info bspacer-xs">The table view displays the sum of all item quantities below the quantity column. Although meaningless, this just shows the sum feature provided by AppGini.</div></span>
						<input maxlength="6" type="text" class="form-control" name="Quantity" id="Quantity" value="<%%VALUE(Quantity)%%>">
					</div>
				</div>

				<!-- Field: Discount -->
				<div class="form-group order_details-Discount">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="Discount">Discount <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#Discount-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="Discount-description"><div class="alert alert-info bspacer-xs">Enter a discount amount here rather than a percentage or ratio. This field will appear formatted as US currency in the table view.</div></span>
						<input maxlength="12" type="text" class="form-control" name="Discount" id="Discount" value="<%%VALUE(Discount)%%>">
					</div>
				</div>

				<!-- Field: Subtotal -->
				<div class="form-group order_details-Subtotal">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Subtotal</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="Subtotal"><%%VALUE(Subtotal)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-3 dv-action-buttons" id="order_details_dv_action_buttons" data-tablename="order_details">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.order_details-OrderID')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#order_details_dv_container-loading').addClass('hidden');
						$j('#order_details_dv_container').removeClass('hidden');
						AppGini.focusFormElement('order_details', 'OrderID');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#order_details_dv_container-loading').addClass('hidden');
				$j('#order_details_dv_container').removeClass('hidden');
			}

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			const autoCloseTables = <%%AUTO_CLOSE_PARENT_TABLES%%>;

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');
					const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1${autoCloseParam}`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
				const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}${autoCloseParam}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			order_detailsUniqueFields.forEach(fieldName => enforce_uniqueness('order_details', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=order_details&id=<%%URLVALUE(odID)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=order_details&id=<%%URLVALUE(odID)%%>');
					}
				);
			}
		});

		var order_detailsUniqueFields = [
		];
	</script>