<!-- To change the layout of the detail view form, we recommend using JS code in hooks/products-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="products_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="products_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="order_details_view.php?filterer_ProductID=<%%URLVALUE(ProductID)%%>&<%%EMBEDDED%%>" id="order_details_link"><img src="resources/table_icons/application_form_magnify.png"> Order Items</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="order_details_view.php?filterer_ProductID=<%%URLVALUE(ProductID)%%>&<%%EMBEDDED%%>" id="xs_order_details_link"><img src="resources/table_icons/application_form_magnify.png"> Order Items</a>
			<input type="hidden" id="order_details_hclink" value="order_details_view.php?filterer_ProductID=<%%URLVALUE(ProductID)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-9 dv-form" id="products_dv_form" data-tablename="products">
			<fieldset class="form-horizontal">

				<!-- Field: Product ID -->
				<div class="form-group products-ProductID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ProductID">Product ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="ProductID"><%%VALUE(ProductID)%%></div>
					</div>
				</div>

				<!-- Field: Product Name -->
				<div class="form-group products-ProductName">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ProductName">Product Name</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="ProductName" id="ProductName" value="<%%VALUE(ProductName)%%>">
					</div>
				</div>

				<!-- Field: Supplier -->
				<div class="form-group products-SupplierID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="SupplierID" data-parent_link="view_parent_modal">Supplier</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(SupplierID)%%><%%PLINK(SupplierID)%%><%%ADDNEW(suppliers)%%></div>
					</div>
				</div>

				<!-- Field: Category -->
				<div class="form-group products-CategoryID">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="CategoryID" data-parent_link="view_parent_modal">Category</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(CategoryID)%%><%%PLINK(CategoryID)%%><%%ADDNEW(categories)%%></div>
					</div>
				</div>

				<!-- Field: Quantity Per Unit -->
				<div class="form-group products-QuantityPerUnit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="QuantityPerUnit">Quantity Per Unit</label>
					<div class="col-lg-9">
						<input maxlength="50" type="text" class="form-control" name="QuantityPerUnit" id="QuantityPerUnit" value="<%%VALUE(QuantityPerUnit)%%>">
					</div>
				</div>

				<!-- Field: Unit Price -->
				<div class="form-group products-UnitPrice">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="UnitPrice">Unit Price</label>
					<div class="col-lg-9">
						<input maxlength="12" type="text" class="form-control" name="UnitPrice" id="UnitPrice" value="<%%VALUE(UnitPrice)%%>">
					</div>
				</div>

				<!-- Field: Units In Stock -->
				<div class="form-group products-UnitsInStock">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="UnitsInStock">Units In Stock</label>
					<div class="col-lg-9">
						<input maxlength="6" type="text" class="form-control" name="UnitsInStock" id="UnitsInStock" value="<%%VALUE(UnitsInStock)%%>">
					</div>
				</div>

				<!-- Field: Units On Order -->
				<div class="form-group products-UnitsOnOrder">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="UnitsOnOrder">Units On Order</label>
					<div class="col-lg-9">
						<input maxlength="6" type="text" class="form-control" name="UnitsOnOrder" id="UnitsOnOrder" value="<%%VALUE(UnitsOnOrder)%%>">
					</div>
				</div>

				<!-- Field: Reorder Level -->
				<div class="form-group products-ReorderLevel">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="ReorderLevel">Reorder Level</label>
					<div class="col-lg-9">
						<input maxlength="6" type="text" class="form-control" name="ReorderLevel" id="ReorderLevel" value="<%%VALUE(ReorderLevel)%%>">
					</div>
				</div>

				<!-- Field: Discontinued -->
				<div class="form-group products-Discontinued">
					<hr class="hidden-md hidden-lg">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox">
							<label for="Discontinued"><input type="checkbox" name="Discontinued" id="Discontinued" value="1" <%%CHECKED(Discontinued)%%>> Discontinued</label>
						</div>
					</div>
				</div>

				<!-- Field: Total Sales -->
				<div class="form-group products-TotalSales">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Total Sales</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="TotalSales"><%%VALUE(TotalSales)%%></div>
					</div>
				</div>

				<!-- Field: Technical Sheet -->
				<div class="form-group products-TechSheet">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Technical Sheet <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#TechSheet-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="TechSheet-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 2000 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="row" style="margin-right: 0; margin-left: 0;">
								<div class="col-md-6" style="padding-left: 0;"><a id="TechSheet-link" href="link.php?t=products&f=TechSheet&i=<%%VALUE(ProductID)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(TechSheet)%%>" style="font-size: 4em;"></i></a></div>
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<div class="col-md-6 well upload-toolbox">
									<%%REMOVEFILE(TechSheet)%%>
									<%%UPLOADFILE(TechSheet)%%>
									<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
									<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
								</div>
							</div>
						</div>
						<script>/* disable empty links */ $j(() => { const e_TechSheet = '<%%VALUE(TechSheet)%%>'; if(e_TechSheet == '' || e_TechSheet == '&nbsp;' || e_TechSheet == 'blank.gif') { $j('#TechSheet-link').hide(); $j('#TechSheet-image').parents('a').attr('href', '').on('click', (e) => e.preventDefault()); } });</script>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-3 dv-action-buttons" id="products_dv_action_buttons" data-tablename="products">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="products-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			$j('#products_dv_container-loading').addClass('hidden');
			$j('#products_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('products', 'ProductName');

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setInterval(append_embedded, 1000);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'products',
						SelectedID: '<%%VALUE(ProductID)%%>',
						Operation: 'show-children'
					},
					'products-children'
				);
			}

			const autoCloseTables = <%%AUTO_CLOSE_PARENT_TABLES%%>;

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
					const pt = $j(this).attr('id').replace(/_add_new$/, '');
					const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

					modal_window({
						url: `${pt}_view.php?addNew_x=1&Embedded=1${autoCloseParam}`,
						close: function() {
							$j(`#${fieldId}-container`).select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = AppGini.localStorage.getItem(`${pt}_last_added_id`);
							if(new_id === null) return;

							AppGini.localStorage.removeItem(`${pt}_last_added_id`);
							AppGini.lookupText({
								id: new_id,
								table: AppGini.currentTableName(),
								field: fieldId,
								callback: function(data) {
									$j(`#${fieldId}-container`).select2('data', data, true);
								}
							});
						},
						beforeClose: AppGini.confirmBeforeClosingModal,
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				const pt = $j(this).attr('id').replace(/_view_parent$/, '');
				const fieldId = $j(this).prevAll('input:hidden').eq(0).attr('id');
				const autoCloseParam = (autoCloseTables.includes(pt) ? '&AutoClose=1' : '');

				let parent_id = '{empty_value}';
				if(fieldId) {
					parent_id = $j(`#${fieldId}`).val();
				} else if($j(this).prevAll('[type=radio]').length) { /* handle radio lookups */
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				} else {
					parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id !== undefined && parent_id !== '') {
					const parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: `${pt}_view.php?Embedded=1&SelectedID=${encodeURIComponent(parent_id)}${autoCloseParam}`,
								close: function() {
									$j(`#${fieldId}-container`).select2('focus').select2('focus');

									// update lookup text in case the parent record was updated
									AppGini.lookupText({
										id: parent_id,
										table: AppGini.currentTableName(),
										field: fieldId,
										cache: false,
										callback: function(data) {
											$j(`#${fieldId}-container`).select2('data', data, true);

											// update auto-fills
											const updaterName = `${fieldId}_update_autofills`;
											if(typeof(window[updaterName]) == 'function')
												window[updaterName]();
										}
									});
								},
								beforeClose: AppGini.confirmBeforeClosingModal,
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = `${pt}_view.php?Embedded=${embedded_mode ? '1' : ''}&SelectedID=${encodeURIComponent(parent_id)}`;
							break;
						case 'view_parent_new_window':
							window.open(`${pt}_view.php?SelectedID=${encodeURIComponent(parent_id)}`);
							break;
					}

				}
			});

			productsUniqueFields.forEach(fieldName => enforce_uniqueness('products', fieldName));

			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=products&id=<%%URLVALUE(ProductID)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=products&id=<%%URLVALUE(ProductID)%%>');
					}
				);
			}
		});

		var productsUniqueFields = [
		];
	</script>