<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the products_init() hook (in hooks/products.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="products-ProductName-<%%VALUE(ProductID)%%>" class="products-ProductName"><%%SELECT%%><%%VALUE(ProductName)%%><%%ENDSELECT%%></td>
		<td id="products-SupplierID-<%%VALUE(ProductID)%%>" class="products-SupplierID"><%%SELECT%%><%%VALUE(SupplierID)%%><%%ENDSELECT%%></td>
		<td id="products-CategoryID-<%%VALUE(ProductID)%%>" class="products-CategoryID"><%%SELECT%%><%%VALUE(CategoryID)%%><%%ENDSELECT%%></td>
		<td id="products-QuantityPerUnit-<%%VALUE(ProductID)%%>" class="products-QuantityPerUnit"><%%SELECT%%><%%VALUE(QuantityPerUnit)%%><%%ENDSELECT%%></td>
		<td id="products-UnitPrice-<%%VALUE(ProductID)%%>" class="products-UnitPrice text-right"><%%SELECT%%><%%VALUE(UnitPrice)%%><%%ENDSELECT%%></td>
		<td id="products-Discontinued-<%%VALUE(ProductID)%%>" class="products-Discontinued text-right"><%%SELECT%%><%%VALUE(Discontinued)%%><%%ENDSELECT%%></td>
		<td id="products-TotalSales-<%%VALUE(ProductID)%%>" class="products-TotalSales text-right"><%%SELECT%%><%%VALUE(TotalSales)%%><%%ENDSELECT%%></td>
		<td class="child-order_details-ProductID child-records-info" data-id="<%%VALUE(ProductID)%%>" data-table="order_details" data-lookup-field="ProductID">
			<a href="order_details_view.php?filterer_ProductID=<%%VALUE(ProductID)%%>" target="_blank" title="<%%TRANSLATION(view)%%>" class="children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
		</td>
