		<td colspan="2" class="row">
			<div class="col-sm-12">
				<dl class="dl-horizontal">
					<dt class="shippers-CompanyName-caption field-caption-tv">Company Name</dt>
					<dd id="shippers-CompanyName-<%%VALUE(ShipperID)%%>" class="shippers-CompanyName text-bold"><%%VALUE(CompanyName)%%></dd>

					<dt class="shippers-Phone-caption field-caption-tv">Phone</dt>
					<dd id="shippers-Phone-<%%VALUE(ShipperID)%%>" class="shippers-Phone text-bold"><%%VALUE(Phone)%%></dd>

				</dl>
			</div>
		</td>
