<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the shippers_init() hook (in hooks/shippers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="shippers-CompanyName-<%%VALUE(ShipperID)%%>" class="shippers-CompanyName text-bold"><%%VALUE(CompanyName)%%></td>
		<td id="shippers-Phone-<%%VALUE(ShipperID)%%>" class="shippers-Phone text-bold"><%%VALUE(Phone)%%></td>
		<td class="child-orders-ShipVia child-records-info" data-id="<%%VALUE(ShipperID)%%>" data-table="orders" data-lookup-field="ShipVia">
			<a href="orders_view.php?filterer_ShipVia=<%%VALUE(ShipperID)%%>&Embedded=1" target="_blank" title="<%%TRANSLATION(view)%%> (Orders via shipper)" class="modal-link children-count" style="visibility: hidden;"><span class="count-children">0</span> <i class="glyphicon glyphicon-new-window"></i></a>
			<a href="orders_view.php?filterer_ShipVia=<%%VALUE(ShipperID)%%>&addNew_x=1&Embedded=1" target="_blank" class="modal-link new-child" title="<%%TRANSLATION(Add New)%%> (Orders via shipper)" style="visibility: hidden;"><i class="text-success glyphicon glyphicon-plus"></i></a>
		</td>
